body{
	font-weight:400;
	color:$primary;
	background:white;
}
main{
	position:relative;
	padding-top:85px;
}

section{
	padding:120px 0;
}

/* ——————————————————————

BUTTONS

——————————————————————— */
.btn-group{
	> *{
		display:inline-block;
		margin-right:12px;
		&:last-child{
			margin-right:0;
		}
	}
}
.btn{
	height:40px;

}
.btn-apply{
	height:48px;
	padding:0 1.25em;
	font-size:15px;
	line-height:50px;
	text-transform:uppercase;
	font-weight:700;
	background:$orange;
	color:white;

}
.btn-primary{
	display:inline-block;
	height:40px;
	padding:0 1.25em;
	font-size:14px;
	line-height:40px;
	text-transform:uppercase;
	font-weight:700;
	background:white;
	color:$orange;
	box-shadow:0 1px 3px 0 rgba(15,15,15,0.3);
	&.orange{
		background:$orange;
	  color:white;
	}
}

/* ——————————————————————

HEADER

——————————————————————— */
html[data-direction="down"] header {
  transform: translate3d(0,-36px,0);
}
header{
	z-index:8;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:110px;
	background:white;
	box-shadow:0 0 4px 0 rgba(25,25,25,0.3);
	overflow:hidden;
	will-change:transform;
	@include transition(all 0.8s 0.2s $easeOutExpo);
	.logo-header{
		svg{
			height:22px;
			width:auto;
		}
	}
	.header_utility{
		height:36px;
		border-bottom:0.5px solid $border-light;
		img{
			display:block;
		}
		a{
			display:inline-block;
			font-size:14px;
			font-weight:400;
			margin-left:50px;
			color:$primary;
			&:first-child{
				margin-left:0;
			}
			i{
				margin-right:2px;
				color:$orange;
			}
		}
	}
	.header_main{
		height:74px;
		nav{
			a{
				pointer-events: auto;
				position:relative;
				display:block;
				font-size:18px;
				font-weight:500;
				margin-left:50px;
				color:$primary;
				img{
					display:block;
				}
				&:first-child{
					margin-left:0;
				}
			}
		}
	}
}

/* ——————————————————————

HERO

——————————————————————— */
#hero{
	position:relative;
	width:100%;
	height:80vh;
	min-height:400px;
	background:$primary;
	overflow:hidden;
	.hero_sections{
		z-index:2;
		position:absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
		color:white;
		.col--2{
			background:rgba(59,55,52,0.6); //59,55,52
			overflow:hidden;
			@include transition(all 0.6s $easeOutExpo);
			&:hover{
				width:60%;
				background:rgba(59,55,52,0.95);
				h2,h3{
					@include transform(translateY(0));
				}
				h4{
					@include opacity(1);
					@include transform(translateY(0));
				}
				i{
					&.fa-chevron-left{
						@include transform(translateX(-20px));
					}
					&.fa-chevron-right{
						@include transform(translateX(20px));
					}
				}
			}
			&:first-child{
				.hero_sections--text{
					padding-right:50px;
					transform-origin: top right;
				}
			}
			&:last-child{
				.hero_sections--text{
					padding-left:50px;
					transform-origin: top left;
				}
			}
		}
	}
	.hero_sections--divider{
		content:"";
		display:block;
		width:2px;
		height:350px;
		background:white;
	}
	.hero_sections--text{
		
		h2{
			display:inline-block;
			position:relative;
			text-indent:-0.075em;
		}
		h3{
			color:rgba(255,255,255,0.75);
		}
		i{
			position:absolute;
			vertical-align:0.05em;
			color:$orange;
			font-size:0.6em;
			@include transition(transform 0.6s $easeOutExpo);
			&.fa-chevron-left{
				left:-40px;
				bottom:6px;
			}
			&.fa-chevron-right{
				right:-40px;
				bottom:6px;
			}
		}
	}
	video{
		z-index:0;
		position:absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
		object-fit: cover;
	}
	
}

/* ——————————————————————

COMPANY OVERVIEW

——————————————————————— */
.company-overview_intro{
	border-bottom:0.5px solid $border_light;
}
.company-overview_bullets{
	.col--3{
		border-right:1px solid $border_light;
		&:last-child{
			border:none;
		}
		h3{
			font-size:15px;
			margin-top:0.5em;
			color:$secondary;
		}
	}
}

/* ——————————————————————

DRIVER OVERVIEW

——————————————————————— */
.driver-overview{
	background:$bg-light;
}



.section-left {
    animation-duration: 0.7s;
    animation-fill-mode: both;
    animation-name: slideInUp;
}
.old {
  animation-duration: 0.7s;
  animation-fill-mode: both;
  //animation-name: slideOutLeft;
}

@keyframes slideOutLeft {
    from {
        transform: translate3d(0,0, 0);
        opacity: 0;
    }
    to {
        transform: translate3d(-100%, 0, 0);
        opacity: 1;
    }
}


@keyframes slideInUp {
    from {
        transform: translate3d(0,60px, 0);
        opacity: 0;
    }
    to {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}





footer{
	padding-top:50px;
	.footer_utility{
		height:90px;
		border-bottom:0.5px solid $border-light;
		img{
			display:block;
		}
		a{
			height:50px;
			line-height:50px;
			display:inline-block;
			text-transform: none;
			font-size:14px;
			font-weight:400;
			margin-left:12px;
			color:$primary;
			&:first-child{
				margin-left:0;
			}
			i{
				margin-right:2px;
				color:$orange;
			}
			&.orange{
				font-weight:700;
				text-transform: uppercase;
				color:white;
			}
		}
	}
	.footer_main{
		height:100px;
		nav{
			a{
				position:relative;
				display:block;
				font-size:18px;
				font-weight:500;
				margin-left:50px;
				color:$primary;
				&:first-child{
					margin-left:0;
				}
			}
		}
		.social-icon{
			font-size:25px;
			color:$secondary;
			margin-right:30px;
			&:last-child{
				margin:0;
			}
			.fa-twitter{
				vertical-align: -1px;
			}
			.fa-youtube{
				vertical-align:-2.5px;
			}
		}
	}
	.footer_location{
		height:240px;
		background:$bg-medium url('../img/chicago-map.jpg') no-repeat left center;
		background-size:auto 100%;
		color:white;
		h4{
	    font-size:18px;
		}
		a{
		  display: inline-block;
		  font-size:15px;
		  line-height:1.4;
		  color:white;
		}
	}
	.footer_bottom{
		padding:30px 0 60px 0;
		font-size:15px;
		color:$secondary;
		background:$bg-light;
		a{
			color:$secondary;
		}
		.footer_bottom-left{
			a{
				margin-left:50px;
			}
		}
	}
}