$easeOutExpo:cubic-bezier(0.19, 1, 0.22, 1); 
$easeInOutExpo:cubic-bezier(1.000, 0.000, 0.000, 1.000); 
$easeInExpo: cubic-bezier(0.950, 0.050, 0.795, 0.035);
$easeOutBack: cubic-bezier(0.175, 0.885, 0.320, 1.275); /* easeOutBack */



$primary:#222; // 1e2424
$orange:#f39522; 
$secondary:#6a6a6a;
$white:#fff;
$blue:#ff6b6b;
$blue_light:#4470f6;
$red:#c03939;

$pink:#dc2c6e;

$orange:#f39522; 


$underline:#ffc62d;

$light-gray:#f5f0ea;




